$blue: #2E86AB;
$blueGray: #68618F;
$purple: #A23B72;
$darkPurple: #3B1F2B;
$orange: #F18F01;
$chocolate: #DC670F;
$darkChocolate: #D25316;
$red: #C73E1D;
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 756px;
$screen-lg: 900px;
$screen-xl: 1200px;